.footer {
  background-color: #e4f5f6;
  padding: 40px 24px 24px 70px;
  padding-left: 160px;
  padding-right: 160px;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 24px;
}
.footer a {
  display: block;
  margin-bottom: 25px;
  color: #016971;
  width: 70%;
}
.footer-bottom {
  border-top: 1px solid #cfd9d9;
  padding-top: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #444;
}
.footer p {
  font-size: 16px;
  opacity: 0.9;
  font-weight: 600px;
  margin-top: -40px;
}

.rbi-footer-logo {
  max-width: 240px;
}
.footer-links a {
  margin-left: 20px;
  color: #016971;
  text-decoration: none;
}
.footer-links {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .footer {
    padding: 24px;
    text-align: left;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: left;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
  }
  .footer-links {
    flex-direction: column;
    gap: 6px;
    margin-left: 0;
    align-items: flex-start;
  }
}

@media (max-width: 540px) {
  .footer-top {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
  }
  .footer-links {
    flex-direction: column;
    gap: 6px;
    margin-left: 0;
    align-items: flex-start;
  }
}
